@import "../../common/style/template";

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  a{
    color: inherit;
  }
}
.light{
  @extend %light;
}
.dark{
  @extend %dark;
}